.filter-wrapper{
    position: fixed;
    top: 8vh;
    left: 0;
    width: 17vw;
    min-height: 88vh;
    border-right: 1px solid var(--light-secondary-color);
    padding: var(--scale-lg);
    background: var(--white);
}
.filter-header{
    justify-content: space-between;
    align-items: center;
}

.filter-header span{
    color: var(--primary-color);
    font-size: var(--default-font-size);
    font-weight: bold;
    cursor: pointer;
}
.slider{
    width: 70%;
}
