
.navbar-container{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: var(--z-index-xxl);
    background-color: var(--primary-color);
}
.nav-link{
    color: var(--off-white);
}
.nav-link h2{
    color: var(--off-white);
}
.nav-social-media{
    margin-right: var(--scale-xxl);
}
.search-box{
    background-color: var(--off-white);
}
.search-txt{
    color: var(--secondary-color);
}
