.log-in-wrapper,
.sign-up-wrapper{
    position: relative;
    top: 17vh;
}
.form-container{
    width: 40rem;
    height: 40rem;
    gap: var(--scale-sm);
}

.form-title{
    align-self: center;
}
.forget-password{
  gap: var(--scale-sm);
  align-items: center;
}
.error-msg{
    color: var(--danger-color);
    margin: auto;
}
